<div class="row">
<div class="card-panel center col m6 s12 offset-m3 offset-s0">
  <h4 class="row white-text red card-panel">Login</h4>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field">
          <input id="nickname" type="text">
          <label for="nickname">Nickname</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="password" type="password">
          <label for="password">Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light red" type="submit" name="action">Join
    <i class="material-icons right">send</i>
  </button>

    </form>
  </div>
</div>
</div>